# ===============================
# Visual Studio / C++
# ===============================

# Visual Studio cache & user files
.vs/
*.slnx
*.user
*.suo

# Build output folders
Debug/
Release/
x64/
x86/
bin/
obj/
out/

# C++ intermediate files
*.ipch
*.pdb
*.ilk
*.tlog
*.log

# CMake (if used)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
